body{
  background: url(gradient.png) no-repeat;
  background-size: cover;
}
header{
  background-color: rgb(177, 29, 140);
}
#logo{
  width: 100px;
  height: 100px;
}
#footer{
  background-color:rgb(225, 173, 230);
}
.box{
  background-color: rgb(225, 173, 230);
}